:root {
  --gradColor1: #00000088;
  --gradColor2: #00000088;
}

body {
	background-image: linear-gradient(to right, var(--gradColor1), #00000055, var(--gradColor2)),url("wp4110751.webp"); 
	background-size: cover;
	background-attachment: fixed;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
	text-shadow: 2px 2px 20px #000000;
}

#main {}

#inputForm {
	position: absolute;
	left: 50px;
	top: 25px;
	width: 1100px;
	height: 50px; 
/*	border: 1px solid black; */
	padding: 0px;
	margin: 0px;
}

#inputDate {
	position: relative;
	left: 0px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 20px;
	
}
	
#setDateButton {
	position: relative;
	left: 10px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 20px;
}

#addDayButton {
	position: relative;
	left: 20px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 20px;
}

#resetButton {
	position: relative;
	left: 30px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 20px;
}

#displayDate {
	position: absolute;
	left: 50px;
	top: 65px;
	width: 1100px;
	color: #ffffff;
	font-size: 30px; 
	font-weight: normal;
/*	border: 1px solid black; */
}

#calendar {
	position: absolute;
	left: 50px;
	top: 125px;
	width: 800px;
	height: 800px;
	border: 3px solid black; 
	border-radius:50%; 
	background: conic-gradient(from 22.5deg, #00cc00, #cccc00, #cc8400, #cc0000, #660066, #0000cc, #00cc00);
	/*// green #00cc00 , yellow #cccc00 , orange #cc8400 , red #cc0000 , purple #660066 , blue #0000cc */
}

circle {
	stroke: black;
	stroke-width: 3;
	fill: none;
}
	
#bigRedCircle {
	fill: #ff0000;
}

#littleBlackDot {
	fill: #000000;
}

line {
	stroke: #000000;
	stroke-width: 3px;
}

.pointerLine {
	stroke: #000000; 
	stroke-linecap: round;
}

#pointerLinedays {
	stroke-width: 10px; 
}

#pointerLinemonths {
	stroke-width: 15px; 
}

#pointerLineseasons {
	stroke-width: 20px; 
}

.textJ {
	font-size: 22px; 
	font-weight: normal;
	fill: #ffffff;
	text-anchor: middle;
	alignment-baseline: middle;
}

#moonDiv {
	position: absolute; 
/*	left: 800px; 
	top: 125px; */
	left: 350px; 
	top: 1200px;
	width: 200px; 
	height: 200px;
}

#moonMaskCircle {
	stroke: #000000;
	stroke-width: 1px;
	fill: #ffffff;
}

#moonMaskPath {
	fill: #333333;
	stroke: #000000;
	stroke-width: 1px;
}

table {
	position: absolute; 
	left: 150px; 
	top: 1000px;
	width:600px;
	border: 3px solid;
	text-align: center;
	border-collapse:collapse;
	background:var(--gradColor2);
}

tr, td {
	border: 3px solid;
	text-align: center;
	text-shadow: 1px 1px #ffffff;

}
