:root {
  --gradColor1: #00000088;
  --gradColor2: #00000088;
  --gradColor3: #00000088;
}

body {
/*	background-image: linear-gradient(to right, var(--gradColor1), #00000055, var(--gradColor2)),url("wp4110751.webp"); */
/*	background-image: linear-gradient(to right, var(--gradColor1), var(--gradColor2), var(--gradColor1)),url("wayfinders.webp"); */
	background-image: url("wayfinders.webp"); 
	background-size: 600px; 
	background-attachment: fixed;
	opacity: 0.5
	font-family: "Sofia", sans-serif;
	font-size: 23px;
/*	text-shadow: 0px 0px 5px #000000; */
	text-shadow: 3px 3px 3px #000000, 3px -3px 3px #000000, -3px 3px 3px #000000, -3px -3px 3px #000000, 0px 3px 3px #000000, 3px 0px 3px #000000, -3px 0px 3px #000000, 0px -3px 3px #000000;
	text-align: center;
}

#main {}

#inputForm {
	position: absolute;
	left: 50px;
	top: 25px;
	width: 800px;
	height: 50px; 
	padding: 0px;
	margin: 0px;
	
}

#inputDate {
	position: relative;
	left: 0px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
	text-align: center;
}
	
#setDateButton {
	position: relative;
	left: 10px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
}

#addDayButton {
	position: relative;
	left: 20px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
}

#resetButton {
	position: relative;
	left: 30px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
}

#displayDate {
	position: absolute;
	left: 50px;
	top: 100px;
	width: 800px;
	color: #ffffff;
	font-size: 30px; 
	font-weight: normal;
}

#calendar {
	position: absolute;
	left: 50px;
	top: 250px;
	width: 900px;
	height: 900px;
	margin:0px;
	border: 3px solid black; 
	border-radius:50%; 
	background: conic-gradient(from 22.5deg, #00cc00, #cccc00, #cc8400, #cc0000, #660066, #0000cc, #00cc00);
/*	background: conic-gradient(#00cc00aa 0deg 45deg, #aacc00aa 45deg 90deg, #cccc00aa 90deg 135deg, #ccA500aa 135deg 180deg, #cc0000aa 180deg 225deg, #800080aa 225deg 270deg, #0000ccaa 270deg 315deg, #00ccccaa 315deg 360deg); */
	/* green 00cc00, yelow-green #aacc00, yellow #cccc00, orange #ccA500, red #cc0000, purple #800080, blue #0000cc, blue-green #00cccc */
	}

circle {
	stroke: black;
	stroke-width: 3px;
	fill: none;
}
	
#bigRedCircle {
	fill: #ff0000;
}

#littleBlackDot {
	fill: var(--gradColor3);
}

#centerCircle {
	fill: var(--gradColor4);
	stroke: none;
}

line {
	stroke: #000000;
	stroke-width: 3px;
}

.pointerLine {
	stroke: #000000; 
	stroke-linecap: round;
	stroke-width: none; 
	fill: var(--gradColor3)
	}


/*#pointerLinetime {
	stroke-width: 3px; 
	fill: var(--gradColor3);
}


#pointerLinedays {
	stroke-width: 10px; 
	fill: var(--gradColor3)
}

#pointerLinemonths {
	stroke-width: 10px; 
	fill: var(--gradColor3)
}

#pointerLineseasons {
	stroke-width: 10px;
	fill: var(--gradColor3)
} */

.textJ {
	font-size: 27px; 
	font-weight: normal;
	fill: #ffffff;
	text-anchor: middle;
	alignment-baseline: middle;
}

#moonDiv {
	position: absolute; 
	left: 750px; 
	top: 150px;
	width: 250px; 
	height: 250px;
}

#moonMaskCircle {
	stroke: #000000;
	stroke-width: 1px;
	fill: #ffffff;
}

#moonMaskPath {
	fill: #333333;
	stroke: #000000;
	stroke-width: 1px;
}

table {
	position: absolute; 
	left: 50px; 
	top: 1200px;
	width:900px;
	border: 3px solid;
	text-align: center;
	border-collapse:collapse;
	background:var(--gradColor3);
}

tr, td {
	border: 3px solid black;
	color:white;
	font-size: 30px;
	text-align: center;
}

