:root {
  --gradColor1: #00000088;
  --gradColor2: #00000088;
  --gradColor3: #00000088;
}

body {
	background-image: url("wayfinders.jpg"); 
	background-size: 504px; 
	background-attachment: fixed;
	opacity: 0.5
	font-family: "Sofia", sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-shadow: 3px 3px 3px #000000, 3px -3px 3px #000000, -3px 3px 3px #000000, -3px -3px 3px #000000, 3px 3px 3px #000000, 3px 3px 3px #000000, -3px 3px 3px #000000, 3px -3px 3px #000000;
	text-align: center;
	overflow:auto:auto;
}

#main {	}

#inputDateForm {
	position: absolute;
	left: 50px;
	top: 25px;
	width: 900px;
	height: 50px; 
	padding: 0px;
	margin: 0px;
	border: 0px solid black; 
}

#inputDate {
	position: relative;
	left: 0px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
	text-align: center;
}
	
#setDateButton {
	position: relative;
	left: 10px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
}

#addDayButton {
	position: relative;
	left: 20px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
}

#resetButton {
	position: relative;
	left: 30px;
	top: 0px;
	width: 125px;
	margin: 0px;
	font-family: "Sofia", sans-serif;
	font-size: 23px;
}

#displayDate {
	position: absolute;
	left: 50px;
	top: 100px;
	width: 900px;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
	border: 0px solid black; 
}

#displayTime {
	position: absolute;
	left: 50px;
	top: 150px;
	width: 900px;
	color: #ffffff;
	font-size: 23px; 
	text-align: left;
	border: 0px solid black; 
}

#calendar {
	position: absolute;
	left: 50px;
	top: 250px;
	width: 900px;
	height: 900px;
	margin:0px;
	border: 3px solid black; 
	border-radius:50%; 
	background: conic-gradient(from 22.5deg, #00cc00, #cccc00, #cc8400, #cc0000, #660066, #0000cc, #00cc00);
	}

circle {
	stroke: black;
	stroke-width: 3px;
	fill: none;
}
	
#bigRedCircle {
	fill: #ff0000;
}

#littleBlackDot {
	fill: var(--gradColor3);
}

#centerCircle {
	fill: var(--gradColor4);
	stroke: none;
}

line {
	stroke: #000000;
	stroke-width: 3px;
}

.pointerLine {
	stroke: #000000; 
	stroke-linecap: round;
	stroke-width: none; 
	fill: var(--gradColor3)
	}

.textJ {
	font-size: 27px; 
	font-weight: normal;
	fill: #ffffff;
	text-anchor: middle;
	alignment-baseline: middle;
}

#moonDiv {
	position: absolute; 
	left: 750px; 
	top: 150px;
	width: 250px; 
	height: 250px;
}

#moonMaskCircle {
	stroke: #000000;
	stroke-width: 1px;
	fill: #ffffff;
}

#moonMaskPath {
	fill: #333333;
	stroke: #000000;
	stroke-width: 1px;
}

table {
	position: absolute; 
	left: 50px; 
	top: 1200px;
	border: 3px solid;
	text-align: center;
	border-collapse:collapse;
	background:var(--gradColor3);
}

tr, td {
	border: 3px solid black;
	color:white;
	font-size: 25px;
	text-align: center;
	width: 108px;
}

.banner {
		background:var(--gradColor4);
}


#displayStatus {
	position: absolute;
	left: 45px;
	top: 1425px;
	width: 900px;
	height: 250px;
	margin: 0px;
	padding: 0px;
	border: 0px solid black; 
	border-collapse:collapse;
}

#displayFrame {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px solid black; 
	display:block;
}
	
#blank {
	position: absolute;
	left: 50px;
	top: 1700px;
	width: 800px;
	color: #ffffff;
	font-size: 30px; 
	font-weight: normal;
}

